.matched-user-container {
  /* background: rgb(231, 230, 230); */
  margin-left: 15%;
  margin-top: 10%;
  width: 70%;
  height: 28%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid #6eb8ed;
  border-radius: 30px;
}

.prof-pic {
  border-radius: 50%;
  background-color: white;
  height: 65px;
  width: 65px;
  z-index: 1;
  margin-left: 4%;
  margin-top: 1.5%;
  border: 2px solid black;
}

.profile-name {
  margin-top: -5.5%;
  width: 30%;
  height: 40%;
  margin-left: 15%;
}

.details {
  margin-left: 60px;
  font-size: 15px;
  margin-top: 40px;
}

h4 {
  font-size: 17px;
  margin: auto auto;
}
.user-buttons {
  margin-top: -7.5%;
  margin-left: 70%;
}
.contact {
  background: none;
  border-radius: 10%;
  margin-right: 15px;
  border: none;
}
.contact:hover {
  background: rgb(189, 189, 189);
  border-radius: 10%;
  margin-right: 15px;
  color: white;
}
.confirm {
  background: rgb(37, 52, 74);
  border: 1px;
  border-radius: 10%;
  color: white;
}
.confirm:hover {
  background: black;
  border-radius: 10%;
  color: white;
}
