.userdetails-container {
    width: 30%;
    background: rgb(37,52,74);
    -webkit-box-shadow: 4px 0 5px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 4px 0 5px 0 rgba(0, 0, 0, 0.5);
    height: 100%;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    flex-direction: column;
    color:white;
    border: 1px solid white; 
  }
  .rides
  {
    margin-top: 5%;
    margin-left: 10px;
    margin-right: 10px; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

  }
  .search-history{
    margin-top: 10%;
    margin-left: 10px;
    margin-right: 10px; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  /* h4{
    border-bottom: 1px solid white; 
  } */
  strong{
    border-bottom: 1px solid lightslategray;
  }
