.userprofile-container {
<<<<<<< HEAD
    width: 349px;
=======
    width: 20%;
>>>>>>> bd6a2a89a888d0a9dc07656385a7841c9033080a
    background: #FFFFFF;
    -webkit-box-shadow: 1px 0 5px 0 rgba(0,0,0,0.50);
    box-shadow: 1px 0 5px 0 rgba(0,0,0,0.50);
    height: 100vh;
<<<<<<< HEAD
    display: flex;
=======
    align-items: center;
>>>>>>> bd6a2a89a888d0a9dc07656385a7841c9033080a
    flex-wrap: wrap;
    flex-direction: column;

}


.welcome{
  font-weight: bold;
  font-family: sans-serif;
  font-size: 2vh;
}

.user-container {
  width: 100%;
  height: auto;
  margin-top: 1.5vh;
  float:left;
}

.user-name {
<<<<<<< HEAD
    position:absolute;
    margin-top: 40px;
    margin-left:110px;
    border: 1px #000000
=======
    width: auto;
    height: auto;
    font-size: 1.8vh;
    margin-top: 15%;
    margin-left: 19%;
    margin-right: 2%;
    border-width: 2px;
    border-color: black;
    border-style: solid;

>>>>>>> bd6a2a89a888d0a9dc07656385a7841c9033080a
}
.user-picture {
    width: 35%;
    padding-top: 35%;
    margin-left: 4px;
    border-radius: 50%;
    background-color: #B6D5F9;
<<<<<<< HEAD
    margin-top:10px;
    margin-left: 10px
=======
    float: left;
>>>>>>> bd6a2a89a888d0a9dc07656385a7841c9033080a
    /* clip-path: circle(78px at center); */
}
.userprofile-container.past
@media only screen and (max-width: 528px) {
    .user-picture {
        display: none;
    }
}
