.userdetails-container {
    width: 25%;
    background: rgb(37,52,74);
    -webkit-box-shadow: 4px 0 5px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 4px 0 5px 0 rgba(0, 0, 0, 0.5);
    height: 100%;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    flex-direction: column;
    color:white;
  }
  .rides
  {
    margin-top: 10%;
    margin-left: 10px;
  }
